<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tistory.itmir.whdghks913.reportcard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.create.CreateExamActivity"
            android:label="@string/title_activity_create_exam"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.show.exam.ShowExamDetailActivity"
            android:label="@string/title_activity_show_exam_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.create.CreateSubjectActivity"
            android:label="@string/title_activity_create_subject"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.show.subject.ShowSubjectActivity"
            android:label="@string/title_activity_show_subject"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.create.AddExamScoreActivity"
            android:label="@string/title_activity_add_exam_data"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.edit.EditExamActivity"
            android:label="@string/title_activity_edit_exam"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.edit.EditSubjectActivity"
            android:label="@string/title_activity_edit_subject"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.edit.EditSubjectScoreActivity"
            android:label="@string/title_activity_edit_subject_data"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
